body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    border-bottom: solid 6px #d8cefe;
    background: #ddebf8;
    color: #2b2839;
}
img{
    width: 150px;
}
.border-blue{
    border: dotted blue 1px;
}